[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
selenium = "*"
pytest = "*"
pyflakes = "*"
"flake8" = "*"
yapf = "*"
pylint = "*"


[dev-packages]

